# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create tables using markdown
- Perform arithmetic operations in code cells
- Share Jupyter Notebooks through GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

| Data Science Tools        |
|---------------------------|
| Jupyter Notebooks         |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python.

# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

# This will convert 200 minutes to hours by dividing by 60.
200 / 60

## Author
Bhoomireddy sai vinay